@media screen and (min-width:1170px) {
	.d-Licence {
		width: 1000px;
	}
	.d-new-show {
		width: 1000px;
	}
	#div_company_pos {
		min-height: 300px;
		background-color: #f0f5f9;
		text-align: center;
	}
	.div-company-pos-title {
		line-height: 50px;
		color: #ffa60a;
		font: bold;
		letter-spacing: 3px;
		font-size: 28px;
		text-align: center;
		margin-top: 50px;
	}
	.w-ind-wrap {
		padding: 50px 0;
		overflow: hidden;
	}
	.w-ind-wrap:hover em:after {
		width: 100%;
		left: 0;
	}
	.w-course-img {
		position: relative;
		width: 100%;
		height: 220px;
		overflow: hidden;
	}
	.w-news-area {
		box-sizing: border-box;
		width: 100%;
		/* height: 340px;*/
		margin: 10px auto;
		position: relative;
		max-width: 375px;
		background-color: #fff;
	}
	.index-projectlist-title {
		color: white;
		margin-top: 150px;
		letter-spacing: 10px;
	}
	.w-projectlist-top {
		margin-top: 50px;
	}
.comm_div_banner {
    min-height: 300px;
    text-align: center;
}


.new-ulContent-right-text-title {
    font-size: 16px;
}

.new-ulContent-right-text-cent {
    color: #777777;
    font-size: 12px;
}

.new-ulContent-right-text-left {
    color: #777777;
    font-size: 12px;
    position: absolute;
    right: 20%;
}

.about-content-all {
    margin-top: 20px;
}

.new-ulContent-right-text {
    text-align: left;
    font-size: 9px;
    margin-left: 20px;
    width: 95%;
}

    .new-ulContent-right-text a:hover {
        color: #ffa60a;
    }
}

@media screen and (min-width: 992px) and (max-width: 1170px) {}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.w-navwrap .container {
		width: 95% !important;
	}
	.w-navwrap .navbar-nav {
		float: left;
	}
}

@media only screen and (max-width: 767px) {
	#div_company_pos {
		height: 200px;
		background-color: #f0f5f9;
		text-align: center;
	}
	.div-company-pos-title {
		line-height: 50px;
		color: #ffa60a;
		font: bold;
		letter-spacing: 3px;
		font-size: 28px;
		text-align: center;
		margin-top: 50px;
	}
	.w-ind-wrap {
		overflow: hidden;
	}
	.w-ind-wrap:hover em:after {
		width: 100%;
		left: 0;
	}
	.w-course-img {
		position: relative;
		width: 100%;
		height: 120px;
		overflow: hidden;
	}
	.w-news-area {
		box-sizing: border-box;
		width: 100%;
		/* height: 340px;*/
		margin: 5px auto;
		position: relative;
		max-width: 375px;
		background-color: #fff;
	}
	.index-projectlist-title {
		color: white;
		margin-top: 120px;
		letter-spacing: 10px;
	}
	.w-projectlist-top {
		margin-top: 20px;
	}
	.index-news-list {
		margin-top: 10px;
	}
.comm_div_banner {
    min-height: 150px;
    text-align: center;
}

.new-ulContent-right-text-title {
    font-size: 16px;
}

.new-ulContent-right-text-cent {
    color: #777777;
    font-size: 12px;
}

.new-ulContent-right-text-left {
    color: #777777;
    font-size: 12px;
    position: absolute;
    right: 0;
}
.comm-dv-top-main{
	width: 100%;
}
.comm-dv-top{
	width: 100%;
	margin: 0 auto;
}
.dropdown-menu{
	width: 100%;
	text-align: center;
}
.new-ulContent-right-text {
    text-align: left;
    font-size: 8px;
    width: 100%;
}

    .new-ulContent-right-text a:hover {
        color: #ffa60a;
    }
    .index_div_company_cul-index {
        min-height: 180px;
        background-color: #029141;
        text-align: center;
    }

    #index_serviceimg {
        width: 400px;
        height: 100%;
    }
}