
.aboutimg {
    display: block;
    position: relative;
    padding: 5px;
    margin: 0;
}
    .aboutimg ul {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    .aboutimg li {
        display: block;
        float: left;
        margin: 5px;
        padding: 0;
    }
        .aboutimg li img {
            display: block;
            margin: 0;
        }

.aboutimgcontent {
    display: block;
    position: relative;
}
